{% form_theme form 'SyliusWebBundle:Backend/ShippingMethod:_forms.html.twig' %}

<fieldset>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.code, {'attr': {'class': 'input-lg'}}) }}
            {{ form_row(form.translations, {'attr': {'class': 'input-lg'}}) }}
            {{ form_row(form.zone) }}
            {{ form_row(form.taxCategory) }}
            {{ form_row(form.category, {'attr': {'class': 'select2'}}) }}
            {{ form_row(form.categoryRequirement) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.carrier) }}
            {{ form_row(form.calculator) }}
            {% for name, calculatorConfigurationPrototype in form.vars.prototypes %}
                <div id="{{ form.calculator.vars.id }}_{{ name }}" data-container=".configuration"
                     data-prototype="{{ form_widget(calculatorConfigurationPrototype)|e }}">
                </div>
            {% endfor %}
            <div class="configuration">
                {% if form.configuration is defined %}
                    <hr>
                    {% for field in form.configuration %}
                        {{ form_row(field) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>
{{ form_rest(form) }}